<ion-header>
  <ion-navbar color="light">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Escuelas</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-item>
    <ion-label>Escuela 1: </ion-label>
    <ion-toggle [(ngModel)]="toggleValue1" (ionChange)="change()"></ion-toggle>
  </ion-item>
  <ion-card *ngIf="toggleValue1">
    <img src="assets/imgs/escuela1.jpg" />
    <ion-card-content>
      <ion-card-title>
        Escuela Especial Hans Asperger</ion-card-title>
      <p>Dirección: Tupahue 7618, La Florida, Región Metropolitana</p>
    </ion-card-content>
  </ion-card>
  <ion-item>
    <ion-label>Escuela 2: </ion-label>
    <ion-toggle [(ngModel)]="toggleValue2" (ionChange)="change()"></ion-toggle>
  </ion-item>
  <ion-card *ngIf="toggleValue2">
    <img src="assets/imgs/escuela2.jpg" />
    <ion-card-content>
      <ion-card-title>
        Escuela Magdalena Ávalos Cruz - ASPAUT
      </ion-card-title>
      <p> Dirección: Tupahue 7618, La Florida, Región Metropolitana</p>
    </ion-card-content>
  </ion-card>
  <ion-item>
    <ion-label>Escuela 3: </ion-label>
    <ion-toggle [(ngModel)]="toggleValue3" (ionChange)="change()"></ion-toggle>
  </ion-item>
  <ion-card *ngIf="toggleValue3">
    <img src="assets/imgs/escuela3.jpg" />
    <ion-card-content>
      <ion-card-title>
        Colegio Metodista de Santiago
      </ion-card-title>
      <p> Dirección: Tupahue 7618, La Florida, Región Metropolitana </p>
    </ion-card-content>
  </ion-card>
  <ion-item>
    <ion-label>Escuela 4: </ion-label>
    <ion-toggle [(ngModel)]="toggleValue4" (ionChange)="change()"></ion-toggle>
  </ion-item>
  <ion-card *ngIf="toggleValue4">
    <img src="assets/imgs/escuela4.jpg" />
    <ion-card-content>
      <ion-card-title>
        Fundación San Nectario
      </ion-card-title>
      <p>Dirección: Tupahue 7618, La Florida, Región Metropolitana </p>
    </ion-card-content>
  </ion-card>
</ion-content>

<ion-footer>
  <ion-toolbar color="dark">
    <ion-title>Escuelas</ion-title>
  </ion-toolbar>
</ion-footer>